<html>
<head>
	<title>
		Meredith Is On Vacation
	</title>

	 <link rel="stylesheet" type="text/css" href="/public/{{css}}.css">
	 <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>

	{{{ body }}}

</body>

</html>