<html>
<head>
	<title>
		Maybe Meredith went to . . .
	</title>

	 <link rel="stylesheet" type="text/css" href="/public/maybe.css">
</head>

<body>

  <h2>Maybe Meredith went to . . .</h2>
  
  <div id="trip">
    <h3>
      <span id="destination"></span> for <span id="duration"></span> days and got there via <span id="transportation"></span>!
    </h3>
    
  </div>

  <img src="/public/questionmark.gif">
  
  <button id="maybe-refresh">
    ⟳ Again!
  </button>
  <a href="/">
    <button>
      ⬅︎ Back
    </button>
  </a>
  <script src="/public/jquery-3.2.1.min.js"></script>
  <script src="/public/maybe.js"></script>
</body>

</html>